@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap");

:root {
  --ligher-purple: rgba(103, 75, 175, 0.5);
  --purple: #674baf;
  --white: #ffffff;
}
body {
  background-color: var(--purple);
  margin: 0px 35px;
}

.white-color {
  color: var(--white);
}

.navbar {
  margin: 42px;
  font-family: "Poppins", sans-serif;
}

.display-flex {
  display: flex;
  align-items: center;
}

.site-title {
  margin-left: 11px;
  font-size: 20px;
}

.communication-image {
  width: 450px;
}

.central-content-text {
  font-family: "Open Sans", sans-serif;
}
.body-container {
  display: flex;
  justify-content: center;
}
.body-content {
  width: 800px;
}

.central-component-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
}

.central-content-description {
  font-weight: 400;
  font-weight: 400;
  font-size: 14px;
  margin-top: 16px;
}

.footer-icons {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: flex-end;
  margin-right: 10px;
}

.social-icon {
  padding-right: 8px;
}

.site-footer {
  position: fixed;
  bottom: 10px;
  width: 96%;
}

.central-component-button {
  width: 120px;
  height: 33px;
  border-radius: 45px;
  border: none;
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  color: var(--ligher-purple);
  cursor: pointer;
  transition: transform 5s;
}

.central-component-button:hover {
  color: var(--purple);
  transform: scale(1.1);
  /* transform: translateX(200px); */
  /* transform: translateX(200px); */
}

@media screen and (max-width: 600px) {
  .display-flex {
    justify-content: center;
  }
  .navbar {
    width: 90vw;
  }
  .body-content {
    display: block;
  }
  .image-container {
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    padding-left: 16vw;
  }
  .central-content-text {
    width: 100vw;
    margin-right: 0px;
    margin-left: 33vw;
  }
  .footer-icons {
    justify-content: center;
    margin-right: 15vw;
  }
}
