.color-variation-1 {
  color: violet;
}

.color-variation-2 {
  color: blueviolet;
}

.color-variation-3 {
  color: rgb(138, 43, 226);
}

.color-variation-4 {
  color: rgba(80, 80, 200, 0.1);
}

.color-variation-5 {
  color: #8a2be2;
}
